/* ************************Elements**************************** */
.page-container {
	padding-left: 2em;
	padding-right: 2em;
}
th,
td {
	min-width: 7em;
}
th {
	font-size: 0.75em;
}
.alert-container {
	overflow: auto;
	max-height: 18.75rem;
}

#alert-tray {
	max-height: 0;
	opacity: 0;
	transition: max-height 5000ms ease-in-out, opacity 100ms ease-in-out;
	overflow: hidden;
}
#alert-tray.open {
	max-height: 999em;
	opacity: 1;
}

#shipment-alert-container {
	position: sticky;
	top: 0;
	z-index: 1000;
}
