/* ************************Elements**************************** */
.app {
	position: relative;
	overflow: hidden;
}
.page-container {
	padding-left: 2em;
	padding-right: 2em;
	overflow: hidden;
}
table th {
	min-width: 7em;
	font-size: 0.75em;
}
.alert-container {
	overflow: auto;
	max-height: 18.75rem;
}
